body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.carousel-container {
    position: relative;
    width: 80%;
    max-width: 800px;
    overflow: hidden;
    border: 2px solid #333;
    padding: 10px 40px; /* Añadir padding suficiente para que las flechas no solapen los items */
    background-color: white;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: calc(20% - 10px); /* Reducir un poco el ancho para evitar superposición */
    box-sizing: border-box;
    transition: transform 0.3s ease;
    padding: 10px;
    background-color: #007bff;
    color: white;
    text-align: center;
    font-size: 24px;
    margin: 0 5px;
    flex-shrink: 0;
}

.carousel-item:hover {
    transform: scale(1.2);
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    font-size: 24px;
    transition: transform 0.3s ease;
}

.left-arrow {
    left: 0; 
}

.right-arrow {
    right: 0; 
}

.arrow:hover {
    transform: translateY(-50%) scale(1.2);
}