:root {
  --primary-gradient-start: #00f260;
  --primary-gradient-end: #0575e6;
  --white: #ffffff;
  --black-transparent: rgba(0, 0, 0, 0.7);
  --blue: #1e90ff;
  --red: #ff6347;
  --border-radius: 25px;
  --padding-small: 5px;
  --padding-medium: 10px;
  --padding-large: 20px;
  --font-size-small: 12px;
  --font-size-medium: 16px;
  --font-size-large: 24px;
  --font-size-xlarge: 36px;
}

/* Body y contenedor principal */
body {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(to right, var(--primary-gradient-start), var(--primary-gradient-end));
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: var(--padding-large);
}

.container {
  width: 100%;
  height: 100%; /* Altura del contenedor */
  margin: auto; /* Centrar el contenedor */
  padding: var(--padding-small);
  border: 10px solid var(--white);
  border-radius: var(--border-radius);
  background-color: rgba(255, 255, 255, 0.1); /* Transparente */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Espacio entre los divs internos */
  box-sizing: border-box;
}

/* Error permisos */
#location-error {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  background-color: var(--black-transparent);
  color: var(--white);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: var(--font-size-large);
}

#location-error button {
  width: 40%;
  height: 30%;
  background-color: var(--black-transparent);
  border: 2px solid var(--white);
  border-radius: var(--border-radius);
  color: var(--white);
  font-size: var(--font-size-medium);
  transition: background-color 0.3s ease;
}

#location-error button:hover {
  cursor: pointer;
  background-color: var(--blue);
}

/* Carrusel items clima */
.carousel-container {
  width: 100%;
  height: 50%;
  margin: 0;
  padding: var(--padding-medium) 40px; /* Padding ajustado */
  background-color: transparent; /* Transparente */
  transition: background-color 0.3s ease;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  overflow: hidden; /* Evita que los elementos se salgan del contenedor */
  position: relative; /* Para que las flechas se posicionen correctamente */
}

.carousel-track {
  width: calc(100% - 80px); /* Ajuste para el ancho total menos el espacio de las flechas */
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  box-sizing: border-box;
  transition: transform 0.5s ease; /* Movimiento suave */
  align-items: center;
}

.carousel-item {
  min-width: 20%;
  height: 80%;
  padding: var(--padding-medium);
  background-color: var(--black-transparent);
  margin: 0 6px;
  text-align: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  color: var(--white);
  border-radius: 10px;
}

.carousel-item:hover {
  transform: scale(1.3);
  background-color: var(--black-transparent);
}

.carousel-item-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.icon-and-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.icon-wrapper {
  width: 50px;
  height: 50px;
}

.weather-icon {
  width: 100%;
  height: 100%;
}

.header-info {
  text-align: right;
}

.day-name {
  font-size: var(--font-size-medium);
  font-weight: bold;
  margin: 0;
}

.date {
  font-size: 14px;
  margin: 0;
}

.temperatures {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.min-temp {
  font-size: var(--font-size-large);
  font-weight: bold;
  color: var(--blue);
}

.max-temp {
  font-size: var(--font-size-xlarge);
  font-weight: bold;
  color: var(--red);
}

.divider {
  margin: 0 5px;
  font-size: var(--font-size-large);
}

.condition {
  font-weight: bold;
  font-size: var(--font-size-medium);
  margin: 5px 0;
}

.carousel-item-bottom {
  font-size: var(--font-size-small);
  text-align: left;
  display: flex;
  justify-content: space-around;
}

.carousel-item-bottom > * {
  margin: 0;
}

.carousel-button {
  width: 5%;
  height: 30%;
  background-color: transparent;
  color: var(--white);
  border: none;
  padding: 10px 0;
  font-size: 35px;
  cursor: pointer;
  transition: transform 0.3s ease;
  position: absolute; /* Para posicionar las flechas */
  top: 50%; /* Centrar verticalmente */
  transform: translateY(-50%); /* Centrar verticalmente */
  z-index: 1;
}

.carousel-button span {
  font-size: 50px; /* Tamaño inicial del ícono */
  transition: transform 0.3s ease; /* Aplica transición al ícono */
}

.carousel-button:hover span {
  transform: scale(1.7); /* Aumenta el tamaño del ícono al pasar el cursor */
}

.carousel-button.left {
  left: 0;
}

.carousel-button.right {
  right: 0;
}

.precipitation, .humidity, .wind {
  margin: 0;
}

/* Formulario ciudad clima */
#consulta-clima {
  position: relative; /* Asegura que los elementos hijos se posicionen en relación con este contenedor */
  width: 100%;
  margin: 0 auto; /* Centra el contenedor */
  border-radius: var(--border-radius);
  background-color: var(--black-transparent);
  color: var(--white);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-large);
  padding: var(--padding-large);
  box-sizing: border-box;
}

#city {
  width: 60%;
  padding: var(--padding-small);
  border-radius: var(--border-radius);
  border: 1px solid #ccc;
  background-color: var(--white);
  color: #333;
  font-size: 18px;
  position: relative; /* Necesario para que la lista se posicione correctamente en relación con el input */
}

#search-weather {
  width: 60%;
  max-width: 300px;
  height: 50px;
  border-radius: var(--border-radius);
  background-color: var(--black-transparent);
  color: var(--white);
  font-size: 18px;
  border: none;
  cursor: pointer;
  margin: 10px;
}

#search-weather:hover {
  background-color: var(--blue);
}

#suggestions {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #ccc;
  background-color: var(--white);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  position: absolute; /* Para que se superponga sobre otros elementos */
  top: 65%; /* Justo debajo del input */
  left: 20px; /* Asegura que esté alineado correctamente */
  z-index: 10; /* Asegura que la lista esté sobre otros elementos */
  display: none; /* Ocultar la lista por defecto */
}

#suggestions li {
  padding: 10px;
  cursor: pointer;
  color: #333;
}

#suggestions li:hover {
  background-color: #eee;
}
