body {
  font-family: "Montserrat", sans-serif;
  background: #00f260; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00f260, #0575e6); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #00f260, #0575e6);
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 20px;
}

#location-error{
  width: 100%;
  height: 100%;
  border-radius: 25px; /* Borde más grueso y blanco */
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
}

#location-error button {
  width: 40%;
  height: 30%;
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid white;
  border-radius: 25px;
  color: white;
  transition: background-color 0.3s ease;
}

#location-error button:hover {
  cursor: pointer;
  background-color: blue;
}

.container {
  width: 100%;
  height: 100%; /* Altura del contenedor */
  margin: auto; /* Centrar el contenedor */
  padding: 5px; /* Padding dentro del contenedor */
  border: 10px solid white;
  border-radius: 25px; /* Borde más grueso y blanco */
  background-color: rgba(255, 255, 255, 0.1); /* Transparente */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Espacio entre los divs internos */
  box-sizing: border-box;
}

.carousel-container {
  width: 100%;
  height: 50%;
  margin: 0;
  padding: 10px 40px; /* Padding ajustado */
  background-color: rgba(255, 255, 255, 0.0); /* Transparente */
  transition: background-color 0.3s ease;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  overflow: hidden; /* Evita que los elementos se salgan del contenedor */
  position: relative; /* Para que las flechas se posicionen correctamente */
}

.carousel-track {
  width: calc(100% - 80px); /* Ajuste para el ancho total menos el espacio de las flechas */
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  box-sizing: border-box;
  transition: transform 0.5s ease; /* Movimiento suave */
  align-items: center;
}

.carousel-item {
  min-width: 20%;
  height: 80%;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 0 6px;
  text-align: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  color: white;
  border-radius: 10px;
}

.carousel-item:hover {
  transform: scale(1.3);
  background-color: rgba(0, 0, 0, 1);
}

.carousel-item-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.icon-and-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.icon-wrapper {
  width: 50px;
  height: 50px;
}

.weather-icon {
  width: 100%;
  height: 100%;
}

.header-info {
  text-align: right;
}

.nombre-dia {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.fecha {
  font-size: 14px;
  margin: 0;
}

.temperaturas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.temperatura-min{
  font-size: 24px;
  font-weight: bold;
}
.temperatura-max {
  font-size: 36px;
  font-weight: bold;
}

.temperatura-min {
  color: #1e90ff;
}

.temperatura-max {
  color: #ff6347;
}

.barra {
  margin: 0 5px;
  font-size: 24px;
}

.condicion {
  font-weight: bold;
  font-size: 16px;
  margin: 5px 0;
}

.carousel-item-buttom {
  font-size: 12px;
  text-align: left;
  display: flex;
  justify-content: space-around;
}

.carousel-item-buttom > *{
  margin: 0;
}

.carousel-button {
  width: 5%;
  height: 30%;
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px 0px;
  font-size: 35px;
  cursor: pointer;
  transition: transform 0.3s ease;
  position: absolute; /* Para posicionar las flechas */
  top: 50%; /* Centrar verticalmente */
  transform: translateY(-50%); /* Centrar verticalmente */
  z-index: 1;
}
.carousel-button span {
  font-size: 50px; /* Tamaño inicial del ícono */
  transition: transform 0.3s ease; /* Aplica transición al ícono */
}

.carousel-button:hover span {
  transform: scale(1.7); /* Aumenta el tamaño del ícono al pasar el cursor */
}

.carousel-button.left {
  left: 0;
}

.carousel-button.right {
  right: 0;
}









#consulta-clima {
  position: relative; /* Asegura que los elementos hijos se posicionen en relación con este contenedor */
  width: 100%; /* Ajusta el ancho según tus necesidades */
  margin: 0 auto; /* Centra el contenedor */
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  padding: 20px;
  box-sizing: border-box;
}

#ciudad {
  width: 60%;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  font-size: 18px;
  position: relative; /* Necesario para que la lista se posicione correctamente en relación con el input */
}

#buscar-clima {
  width: 60%;
  max-width: 300px;
  height: 50px;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 18px;
  border: none;
  cursor: pointer;
  margin: 10px;
}

#buscar-clima:hover {
  cursor: pointer;
  background-color: blue;
}

#sugerencias {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #ccc;
  background-color: #fff;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  position: absolute; /* Para que se superponga sobre otros elementos */
  top: 65%; /* Justo debajo del input */
  left: 20;
  z-index: 10; /* Asegura que la lista esté sobre otros elementos */
  display: none; /* Ocultar la lista por defecto */
}

#sugerencias li {
  padding: 10px;
  cursor: pointer;
  color: #333;
}

#sugerencias li:hover {
  background-color: #eee;
}